.counter-text {
    font-size: 25rem;
    line-height: 75%;
}

.input-bar {
    padding: 10px;
    background-color: #e2e8f0;
    border: 0;
    border-radius: 20px;
}

.control-button:hover{
    color: rgb(104, 190, 255) !important;
}

.btn-primary:hover {
    background-color:  rgb(104, 190, 255) !important;
}